
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

html, body {
  width: 100%;
  height: 100%;
}

.material-icons, .icon-text {
  vertical-align: middle;
}

.background-center {
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

#loadingscreen{
  background-color: rgba(0, 0, 0, 0.56);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.flex-box {
  display: flex;
}

.flex-justify-end {
  justify-content: flex-end;
}