
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

html, body {
  width: 100%;
  height: 100%;
}

.material-icons, .icon-text {
  vertical-align: middle;
}

.background-center {
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

#loadingscreen{
  background-color: rgba(0, 0, 0, 0.56);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.flex-box {
  display: flex;
}

.flex-justify-end {
  justify-content: flex-end;
}

.custom-tag {
  background-color: #26a69a;
  font-size: 14px;
  padding: 4px 6px;
  border-radius: 0.4em;
  margin-top: 20px;
}

.bootstrap-tagsinput {
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.tt-input {
  min-width: 150px;
}

.tt-menu {
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  cursor: pointer;
}

.tt-suggestion {
  font-size: 15px;
  padding: 0 10px;
}

.tt-suggestion:hover {
  background-color: #26a69a;
}

.tt-cursor {
  background-color: #26a69a;
}

.bootstrap-tagsinput .tag {
  position: relative;
  top: 10px;
}

.no-padding {
  padding: 0;
}

.small-icons {
  font-size: 20px !important;
}

#retrieve-modal .noUi-active .noUi-tooltip {
  width: 100px;
  border-radius: 15px 15px 15px 15px;
  transform: translate(-50px, -25px);
}

#retrieve-modal .noUi-active .noUi-tooltip span {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

#retrieve-modal .noUi-tooltip span {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

#retrieve-modal .datepicker-modal {
  min-width: 545px;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 0;
    width: 100%;
  }
}

.tag-center {
  margin-top: 0 !important;
  top: 0 !important;

}

.filters .bootstrap-tagsinput {
  display: flex;
  align-items: center;
}